<?xml version='1.0' encoding='utf-8'?>
<job-scheduling-data xmlns="http://www.quartz-scheduler.org/xml/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.quartz-scheduler.org/xml/JobSchedulingData
                    http://www.quartz-scheduler.org/xml/job_scheduling_data_1_8.xsd" version="1.8">
  <!--
  		CRON EXPRESSION : SECOND / MINUTES / HOURS / DAY OF MONTH / MONTH / DAY OF WEEK / YEAR (option)
  		doc: http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html
    -->
  <!-- *************************************************** -->
  <!-- Integration des fichiers d'adresses coordonnees : geogeoio -->
  <!-- *************************************************** -->
  <schedule>
    <job>
      <name>geogeoio-job</name>
      <group>geogeoio_GROUP</group>
      <description>geogeoio for geogeo</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.IntegrationAdressesCoordonneesJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>geogeoio-trigger</name>
        <group>geogeoio_TRIGGER_GROUP</group>
        <job-name>geogeoio-job</job-name>
        <job-group>geogeoio_GROUP</job-group>
        <!-- tous les jours a 8h ... -->
        <cron-expression>0 0 8 ? * *</cron-expression>
      </cron>
    </trigger>
  </schedule>

  <!-- ******************************* -->
  <!-- SUIVI / IMMEDIATE = SI          -->
  <!-- ******************************* -->
  <schedule>
    <job>
      <name>si-loc-job</name>
      <group>SI_GROUP</group>
      <description>SI geogeo</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.SuiviImmediateLocJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>si-loc-trigger</name>
        <group>SI_TRIGGER_GROUP</group>
        <job-name>si-loc-job</job-name>
        <job-group>SI_GROUP</job-group>
        <!-- Every 30 s -->
        <cron-expression>0/30 * * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <!-- ************ -->
  <!-- Statistiques -->
  <!-- ************ -->
  <schedule>
    <job>
      <name>stats-consults-hitaggregate-job</name>
      <group>STATS_CONSULTS_GROUP</group>
      <description>Aggregation des statistiques consultations hit</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.StatsConsultationsJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>stats-consults-hitaggregate-trigger</name>
        <group>STATS_CONSULTS_TRIGGER_GROUP</group>
        <job-name>stats-consults-hitaggregate-job</job-name>
        <job-group>STATS_CONSULTS_GROUP</job-group>
		    <cron-expression>0 0/5 * * * ?</cron-expression>
          <!-- Every 5 min -->
        </cron>
    </trigger>
  </schedule>
  <schedule>
    <job>
      <name>stats-calcul-job</name>
      <group>STATS_GROUP</group>
      <description>Calcul des statistiques journalieres et mensuelles</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.StatistiquesCalculGenFichierJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>stats-calcul-trigger</name>
        <group>STATS_TRIGGER_GROUP</group>
        <job-name>stats-calcul-job</job-name>
        <job-group>STATS_GROUP</job-group>
        <cron-expression>0 0 3 ? * *</cron-expression>
        <!-- tous les jours a 3h ... -->
      </cron>
    </trigger>
  </schedule>
  <!-- ************ -->
  <!-- Purge -->
  <!-- ************ -->
  <schedule>
    <job>
      <name>purge-bdd-job</name>
      <group>PURGE_BDD_GROUP</group>
      <description>Purge des donnees de base de donnees</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.PurgeBddLogHistoJob</job-class>
      <job-data-map>
        <entry>
          <key>DIR_PATH</key>
          <value>{{ rep_app_data }}/geogeois</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>purge-bdd-trigger</name>
        <group>PURGE_BDD_TRIGGER_GROUP</group>
        <job-name>purge-bdd-job</job-name>
        <job-group>PURGE_BDD_GROUP</job-group>
        <cron-expression>0 0 12 ? * *</cron-expression>
        <!-- tous les jours a 12h ... -->
      </cron>
    </trigger>
  </schedule>
  <!-- ************ -->
  <!-- Purge HIT MS20 -->
  <!-- ************ -->
  <schedule>
    <job>
      <name>purge-bdd-hit-ms20-job</name>
      <group>PURGE_BDD_HIT_MS20_GROUP</group>
      <description>Purge des donnees de hit ms20 de base de donnees</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.PurgeBddLocSurDemandeHitJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>purge-bdd-hit-ms20-trigger</name>
        <group>PURGE_BDD_HIT_MS20_TRIGGER_GROUP</group>
        <job-name>purge-bdd-hit-ms20-job</job-name>
        <job-group>PURGE_BDD_HIT_MS20_GROUP</job-group>
        <cron-expression>0 0 0/2 * * ?</cron-expression>
        <!-- Every 2 hours -->
      </cron>
    </trigger>
  </schedule>
  <!-- ************ -->
  <!-- STATS ES ACTIV DEMAND -->
  <!-- ************ -->
  <schedule>
    <job>
      <name>stats-es-activ-demand-job</name>
      <group>STATS_ES_ACTIV_DEMAND_GROUP</group>
      <description>sauvegarde du nombre de demande d es activ</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.StatsESActivDemandJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>stats-es-activ-demand-trigger</name>
        <group>STATS_ES_ACTIV_DEMAND_GROUP</group>
        <job-name>stats-es-activ-demand-job</job-name>
        <job-group>STATS_ES_ACTIV_DEMAND_GROUP</job-group>
        <!-- tous les premiers du mois a 2h -->
        <cron-expression>* * 2 1 * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <!-- **** -->
  <!-- geogeois -->
  <!-- **** -->
  <schedule>
    <!-- geogeois TrackHI2  -->
    <job>
      <name>geogeois-trackhi2-job</name>
      <group>geogeois_GROUP</group>
      <description>geogeois TrackHI2: abonnements et desabonnements SDK geogeolo</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.geogeoisTrackHI2Job</job-class>
    </job>
    <trigger>
      <cron>
        <name>geogeois-trackhi2-trigger</name>
        <group>geogeois_TRIGGER_GROUP</group>
        <job-name>geogeois-trackhi2-job</job-name>
        <job-group>geogeois_GROUP</job-group>
        <!-- Every min -->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <schedule>
    <!-- geogeois HI2Loc-->
    <job>
      <name>geogeois-hi2-loc-job</name>
      <group>geogeois_GROUP</group>
      <description>geogeois HI2LocJob: traitement des locgeogeoisations actives HI2</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.geogeoisHI2LocJob</job-class>
    </job>
    <trigger>
      <cron>
        <name>geogeois-hi2-loc-trigger</name>
        <group>geogeois_TRIGGER_GROUP</group>
        <job-name>geogeois-hi2-loc-job</job-name>
        <job-group>geogeois_GROUP</job-group>
        <!-- Every 20 s -->
        <cron-expression>15/30 * * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <schedule>
    <!-- geogeois geogeoisHI2ResendFileJob -->
    <job>
      <name>geogeois-hi2-resend-file-job</name>
      <group>geogeois_GROUP</group>
      <description>geogeois HI2ResendFileJob : renvoi des fichiers hi2 cote diode et cote geogeo</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.geogeoisHI2ResendFileJob</job-class>
      <job-data-map>
        <entry>
          <key>DIR_PATH</key>
          <value>{{ rep_app_data }}/geogeois</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>geogeois-hi2-resend-file-trigger</name>
        <group>geogeois_TRIGGER_GROUP</group>
        <job-name>geogeois-hi2-resend-file-job</job-name>
        <job-group>geogeois_GROUP</job-group>
        <!-- Evry 15 min -->
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <schedule>
    <!-- geogeois HI2FileGenerate -->
    <job>
      <name>geogeois-hi2-filegenerate-job</name>
      <group>geogeois_GROUP</group>
      <description>geogeois HI2FileGenerate: generation des fichiers geogeois pour demandes HI2</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.geogeoisHI2FileGenerate</job-class>
      <job-data-map>
        <entry>
          <key>DIR_PATH</key>
          <value>{{ rep_app_data }}/geogeois</value>
        </entry>
        <entry>
          <key>FILENAME_FORMAT</key>
          <value>HIT_%s.hit</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>geogeois-hi2-filegenerate-trigger</name>
        <group>geogeois_TRIGGER_GROUP</group>
        <job-name>geogeois-hi2-filegenerate-job</job-name>
        <job-group>geogeois_GROUP</job-group>
        <!-- Evry min -->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <schedule>
    <!-- geogeois THI2FileGenerate -->
    <job>
      <name>geogeois-thi2-filegenerate-job</name>
      <group>geogeois_GROUP</group>
      <description>geogeois THI2FileGenerate: generation des fichiers geogeois pour demandes Tracking HI2</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.geogeoisTHI2FileGenerate</job-class>
      <job-data-map>
        <entry>
          <key>DIR_PATH</key>
          <value>{{ rep_app_data }}/geogeois</value>
        </entry>
        <entry>
          <key>FILENAME_FORMAT</key>
          <value>EVENT_%s.event</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>geogeois-thi2-filegenerate-trigger</name>
        <group>geogeois_TRIGGER_GROUP</group>
        <job-name>geogeois-thi2-filegenerate-job</job-name>
        <job-group>geogeois_GROUP</job-group>
        <!-- Every min -->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
  <schedule>
    <!-- HORODATAGE FileGenerate -->
    <job>
      <name>horodatage-filegenerate-job</name>
      <group>HORODATAGE_GROUP</group>
      <description>HORODATAGE FileGenerate: generation des fichiers d'horodatage</description>
      <job-class>com.geogeoange.geogeo.backoffice.jobs.HorodatageFileGenerate</job-class>
      <job-data-map>
        <entry>
          <key>DIR_PATH</key>
          <value>{{ rep_app_data }}/horodatage/out/</value>
        </entry>
        <entry>
          <key>FILENAME_FORMAT</key>
          <value>HORODATAGE_%s.csv</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>horodatage-filegenerate-trigger</name>
        <group>HORODATAGE_TRIGGER_GROUP</group>
        <job-name>horodatage-filegenerate-job</job-name>
        <job-group>HORODATAGE_GROUP</job-group>
        <!-- Tous les 1er du mois à 4h -->
        <cron-expression>* * 4 1 * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>
