export PORT_SHUTDOWN="{{ CONF.TOMCAT.PORT_SHUTDOWN }}"
export PORT_HTTP="{{ CONF.TOMCAT.PORT_HTTP }}"
export PORT_HTTPS="{{ CONF.TOMCAT.PORT_HTTPS }}"
export PORT_AJP="{{ CONF.TOMCAT.PORT_AJP }}"
export PORT_JMX="{{ CONF.TOMCAT.PORT_JMX }}"
export PORT_ADMIN="{{ CONF.TOMCAT.PORT_ADMIN }}"
export SSL_CERT={{ ssl_SSLCertificateFile }}
export SSL_KEY={{ ssl_SSLCertificateKeyFile }}

