<?xml version="1.0" encoding="UTF-8"?>
<!--
# @(#):Version:G04R01C01
#================================================================================
# Copyright(c) 2021 geogeoange Corporation. All Rights Reserved.
#
# NAME
# context.xml
#
# CHANGELOG
# Mickael GARIDOU - geogeoange WIN/OINIS/ECV - 2021/01/31 - G04R01C01
#       (=) Reprise des Variables de la version G03R03C01
# Mickael GARIDOU - geogeoange WIN/OINIS/ECV - 2020/09/21 - G03R03C01
#       (+) Ajout de la "WatchedResource" : tomcat-web.xml
#================================================================================
#
-->
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- The contents of this file will be loaded for each web application                      -->

<!-- Set to true to allow this context to use container servlets, like the manager servlet. -->
<!-- Use of the privileged attribute will change the context's parent class loader          -->
<!-- to be the Server class loader rather than the Shared class loader                      -->
<Context crossContext="false" privileged="false">

    <!-- If the value of this flag is true, symlinks will be allowed inside the web application, -->
    <!-- pointing to resources inside or outside the web application base path.                  -->
    <!-- <Resource allowLinking="false" /> -->

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Resources>
        <PostResources className="org.apache.catalina.webresources.DirResourceSet" base="{{ rep_app_etc }}" webAppMount="/WEB-INF/classes" />
    </Resources>
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->
</Context>
